/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.dropdownitem {
	display:none;
	color: #4aba79;
	font-weight: bold;
}

.icon {
	font-size:16pt;
}